<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<!--her angives at vi arbejder med thymeleaf og prefix th skal anvendes, når der skal kaldes attributter-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--denne meta-tag sørger for reponsiv visning. Ved at sætte bredde lig med device bredde
    sikres det at bredden af visning bliver det samme som bredden af skærmen. Initial-scale settingen sørger for, at siden ikke starter zoomet ind eller ud, men starter
    i oprindelig skala i forhold til enhedens skærmopløsning.-->
    <title>attractionList</title>
    <link rel="stylesheet" href="/list.css">
</head>
<body>
<header>
<h1>Liste med attraktioner</h1>
</header>
    <main>
    <table>
        <thead>
        <tr><!-- tr betyder en række af celler i en tabel-->
            <th>Navn</th> <!-- th angiver indhold af hver celle i øverste række af tabellen-->
            <th>Beskrivelse</th>
        </tr>
        </thead>
        <tbody th:each="attraction : ${listOfAttractions}">
        <tr><!-- her kommer næste række i tabellen-->
            <td th:text="${attraction.name}"></td> <!-- td angiver indhold af hver celle-->
            <td th:text="${attraction.getDescription()}"></td> <!-- td angiver indhold af hver celle-->
            <td>

                <form th:action="@{attractions/{attractionName}/edit(attractionName=${attraction.name})}"
                      method="get">
                    <button type="submit" class="submitbutton">Opdater</button>
                </form>
                <br>
                <form th:action="@{attractions/delete/{attractionName}(attractionName=${attraction.name})}"
                      method="post" onsubmit="return confirmDeletion()">
                    <button type="submit" class="submitbutton">Slet</button>
                </form>
                <br>
                <script>
                    function confirmDeletion() {
                        return confirm("Are you sure you want to delete?")
                    }
                </script>
                <a th:href="@{attractions/{attractionName}/tags(attractionName=${attraction.name})}" method="get">
                    <button class="submitbutton">Tags</button>
                </a>
                <br>
                <a th:href="@{attractions/{attractionName}(attractionName=${attraction.name})}">
                    <button class="submitbutton">See more information</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{attractions/add}" method=get>
        <button type="submit" class="tilføjattractionbutton">Tilføj Attraktion</button>
    </form>
</main>
<footer>
    <p><Strong>Kontakt os her</Strong></p>
    <p>Email: <a href="#">teamMMMD@failmail.dk</a></p>
    <p>Mobil: <a href="#">+45 xxxxxxxx</a></p>
    <p>&copy; 2024 Tourist Guide Part 2 - TeamMMMD (Mark, Martin, Mette, Daniel)</p>
</footer>
</body>
</html>