<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"> <!--her angives at vi arbejder med thymeleaf og prefix th skal anvendes, når der skal kaldes attributter-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--denne meta-tag sørger for reponsiv visning. Ved at sætte bredde lig med device bredde
    sikres det at bredden af visning bliver det samme som bredden af skærmen. Initial-scale settingen sørger for, at siden ikke starter zoomet ind eller ud, men starter
    i oprindelig skala i forhold til enhedens skærmopløsning.-->
    <title>attractionList</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<h1>Liste med attraktioner</h1>
<table>
    <thead>
    <tr><!-- tr betyder en række af celler i en tabel-->
        <th>Navn</th> <!-- th angiver indhold af hver celle i øverste række af tabellen-->
        <th>Beskrivelse</th>
    </tr>
    </thead>
    <tbody th:each="attraction : ${listOfAttractions}">
    <tr><!-- her kommer næste række i tabellen-->
        <td th:text="${attraction.name}"></td> <!-- td angiver indhold af hver celle-->
        <td th:text="${attraction.getDescription()}"></td> <!-- td angiver indhold af hver celle-->
        <td>
            <form th:action="@{attractions/{attractionName}/edit(attractionName=${attraction.name})}" method = get>
            <button type="submit">Opdater</button>
            </form>

            <form th:action="@{attractions/delete/{attractionName}(attractionName=${attraction.name})}" method="post">
                <button type="submit">Slet</button>
            </form>

            <form th:action="@{attractions/{attractionName}/tags(attractionName=${attraction.name})}" method="get">
                <button type="submit">Tags</button>
            </form>

        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{attractions/add}" method = get>
    <button type="submit">Tilføj Attraktion</button>
</form>

</body>
</html>