<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Turistattraktioner i København</title>
    <link rel="stylesheet" href="../static/martin.css">
</head>
<body>
<header>
    <h1>Turistattraktioner i København</h1>
</header>
<nav>
    <h3>Turistattraktioner</h3>
    <ul>
        <li><a class="linka" href="index.html">Forside</a></li>
        <li><a class="linka" href="frederiksberg%20have.html">Frederiksberg Have</a></li>
        <li><a class="linka" href="tivoli.html">Tivoli</a></li>
        <li><a class="linka" href="kobenhavnsmuseum.html">Københavns Museum</a></li>
    </ul>
</nav>
<main>
    <h2>Københavns Museum</h2>
    <p>
        Københavns Museum er byens officielle museum,
        der fortæller historien om København fra de tidligste tider til i dag.
        Museet ligger centralt i byen i Stormgade 18, i en historisk bygning,
        der tidligere husede Det Kongelige Kjøbenhavnske Skydeselskab og danske Broderskab.
        Museets udstillinger fokuserer på Københavns udvikling gennem århundrederne,
        fra middelalderbyen til den moderne metropol.
        <span class="custom-br"></span>
        En af de mest markante udstillinger er den arkæologiske samling,
        hvor fund fra byens tidligste dage kan opleves.
        Her finder man blandt andet rester af huse, værktøj og keramik,
        som giver et indblik i livet i København for mange hundrede år siden.
        Museet byder også på udstillinger om byens arkitektur, sociale historie og kultur,
        med særligt fokus på de transformationer, der har formet København.
        <span class="custom-br"></span>
        Københavns Museum er ikke kun et sted for historie,
        men også et mødested for nutidens københavnere,
        med skiftende særudstillinger, foredrag og workshops,
        der inddrager besøgende i dialog om byens fremtid.
        et er et vigtigt kulturelt centrum, der både værner om fortiden og ser mod fremtiden.
    </p>
</main>
<imgbil>
    <img src="..//billeder/kobenhavnsmuseum.jpg" alt="Københavns Museum"/>
</imgbil>
<empty>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.8416627527963!2d12.569911377083063!3d55.6743534980306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465253752e9b3fb9%3A0x3d1a35af39dbc086!2sK%C3%B8benhavns%20Museum!5e0!3m2!1sda!2sdk!4v1726469488050!5m2!1sda!2sdk" width=max height=max style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</empty>
<form action="/submit" method="post">
    <fieldset>
        <legend>I hvor høj grad vil du besøge Københavns Museum?</legend>
        <input type="radio" id="choice1" name="choice" value="valgmulighed1">
        <label for="choice1">Jeg skal afsted med det samme!</label><br>

        <input type="radio" id="choice2" name="choice" value="valgmulighed2">
        <label for="choice2">Jeg har noteret det på telefonen</label><br>

        <input type="radio" id="choice3" name="choice" value="valgmulighed3">
        <label for="choice3">Hvis jeg får tid</label><br>

        <input type="radio" id="choice4" name="choice" value="valgmulighed4">
        <label for="choice4">Ikke denne gang</label><br>

        <input type="radio" id="choice5" name="choice" value="valgmulighed5">
        <label for="choice5">Aldrig!</label>
    </fieldset>
    <button type="submit">Send</button>
</form>
<footer>
    <p><Strong>Kontakt os her</Strong></p>
    <p>Email: <a href="#">martinellebyberg@outlook.dk</a></p>
    <p>Mobil: <a href="#">+45 31414412</a></p>
    <p>&copy; 2024 Tourist Guide Part 1 - Martin Elleby Berg</p>
</footer>
</body>
</html>