<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">  <!--her angives at vi arbejder med thymeleaf og prefix th skal anvendes, når der skal kaldes attributter-->

<head>
    <meta charset="UTF-8">
    <title>tags</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<h1 th:text="${attractionName}"></h1>

<table>
    <thead>
    <tr><!-- tr betyder en række af celler i en tabel-->
        <th>Tags</th> <!-- th angiver indhold af hver celle i øverste række af tabellen-->
    </tr>
    </thead>
    <tbody th:each="tag : ${tagListe}">
    <tr><!-- her kommer næste række i tabellen-->
        <td th:text="${tag}"></td> <!-- td angiver indhold af hver celle-->

    </tr>
    </tbody>

</table>

</body>
</html>