<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Turistattraktioner i København</title>
    <link rel="stylesheet" href="../static/martin.css">
</head>
<body>
<header>
    <h1>Turistattraktioner i København</h1>
</header>
<nav>
    <h3>Turistattraktioner</h3>
    <ul>
        <li><a class="linka" href="index.html">Forside</a></li>
        <li><a class="linka" href="frederiksberg%20have.html">Frederiksberg Have</a></li>
        <li><a class="linka" href="tivoli.html">Tivoli</a></li>
        <li><a class="linka" href="kobenhavnsmuseum.html">Københavns Museum</a></li>
    </ul>
</nav>
<main>
    <h2>Tivoli</h2>
    <p>
        Tivoli er en af Københavns mest ikoniske forlystelsesparker og en af de ældste i verden, åbnet i 1843. Beliggende i hjertet af byen, mellem Rådhuspladsen og Hovedbanegården, er Tivoli en magisk oase, der kombinerer klassisk charme med moderne underholdning. Parken tiltrækker hvert år millioner af besøgende, både lokale og turister, og er kendt for sin unikke atmosfære med smukke haver, søer og farverige lys.
        <span class="custom-br"></span>
        Tivoli byder på en bred vifte af forlystelser for både børn og voksne, lige fra de klassiske karruseller til den adrenalinfyldte Dæmonen, en vild rutsjebane med loops og twists. Der er også et rigt kulturudbud med koncerter, teaterforestillinger og det legendariske Fredagsrock, hvor både danske og internationale musikere optræder.
        <span class="custom-br"></span>
        Foruden forlystelserne er Tivoli kendt for sit gastronomiske udbud, hvor restauranter og boder serverer alt fra klassisk dansk mad til gourmetoplevelser. Parkens sæsoner, som Jul i Tivoli og Halloween, tilføjer ekstra magi med specielle dekorationer og arrangementer, der gør Tivoli til en helårsdestination fuld af glæde og nostalgi.
    </p>
</main>
<imgbil>
    <img src="..//billeder/tivoli.jpg" alt="Tivoli">
</imgbil>
<empty>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1590.8813999247657!2d12.566156521941924!3d55.674277175832025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652531280f6eaf3%3A0xd9b50b0db50b27b0!2sTivoli!5e0!3m2!1sda!2sdk!4v1726139914181!5m2!1sda!2sdk" width=max height=max style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</empty>
    <form action="/submit" method="post">
        <fieldset>
            <legend>I hvor høj grad vil du besøge Tivoli?</legend>
            <input type="radio" id="choice1" name="choice" value="valgmulighed1">
            <label for="choice1">Jeg skal afsted med det samme!</label><br>

            <input type="radio" id="choice2" name="choice" value="valgmulighed2">
            <label for="choice2">Jeg har noteret det på telefonen</label><br>

            <input type="radio" id="choice3" name="choice" value="valgmulighed3">
            <label for="choice3">Hvis jeg får tid</label><br>

            <input type="radio" id="choice4" name="choice" value="valgmulighed4">
            <label for="choice4">Ikke denne gang</label><br>

            <input type="radio" id="choice5" name="choice" value="valgmulighed5">
            <label for="choice5">Aldrig!</label>
        </fieldset>
        <button type="submit">Send</button>
    </form>
<footer>
    <p><Strong>Kontakt os her</Strong></p>
    <p>Email: <a href="#">martinellebyberg@outlook.dk</a></p>
    <p>Mobil: <a href="#">+45 31414412</a></p>
    <p>&copy; 2024 Tourist Guide Part 1 - Martin Elleby Berg</p>
</footer>
</body>
</html>