<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--denne meta-tag sørger for reponsiv visning. Ved at sætte bredde lig med device bredde
    sikres det at bredden af visning bliver det samme som bredden af skærmen. Initial-scale settingen sørger for, at siden ikke starter zoomet ind eller ud, men starter
    i oprindelig skala i forhold til enhedens skærmopløsning.-->
    <title>updateAttraction</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<h1>Ændrng af informationer</h1>
<form action="/attractions/update" method="post">
  <!-- Skjult inputfelt til name, så vi får navn med over, men skal ikke kunne ændres -->
  <input type="hidden" id="name" name="name" value="${name}">


  <!-- felt til Beskrivelse -->
  <label for="description">Beskrivelse:</label>
  <input type="text" id="description" name="description" value="${description}">
  <br><br>

  <!-- Dropdown / selectbox felt til angivelse af by. Lige nu med fem forskellige muligheder -->
  <label for="by">By:</label>
  <select id="by" name="by">
    <option value="København" ${by == 'København' ? 'selected' : ''}>København</option>
    <option value="Frederiksberg" ${by == 'Frederiksberg' ? 'selected' : ''}>Frederiksberg</option>
    <option value="Aarhus" ${by == 'Aarhus' ? 'selected' : ''}>Aarhus</option>
    <option value="Odense" ${by == 'Odense' ? 'selected' : ''}>Odense</option>
    <option value="Aalborg" ${by == 'Aalborg' ? 'selected' : ''}>Aalborg</option>
  </select>
  <br><br>

  <!-- Checkboxe til Tags -->
  <label>Tags:</label><br>
  <div th:each="tag : ${tagListe}">
    <input type="checkbox" th:id="${tag}" th:name="tagListe" th:value="${tag}"
           th:checked="${tagListe.contains(tag)}">
    <label th:for="${tag}">[[${tag.displayName}]]</label><br>
  </div>

  <!-- Ok og fortryd knapper -->
  <button type="submit">Ok</button>
  <button type="button" onclick="window.location.href='/'">Fortryd</button>



</form>


</body>
</html>